.git
.env
**/.env
**/vendor
**/node_modules
**/.phpunit.cache
**/storage/logs/*
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
docker-compose.override.yml
