*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/services/*/.env
/services/*/node_modules
/services/*/public/build
/services/*/public/hot
/services/*/public/storage
/services/*/public/uploads
/services/*/storage/*.key
/services/*/storage/framework/cache/data/*
/services/*/storage/framework/sessions/*
/services/*/storage/framework/testing/*
/services/*/storage/framework/views/*
/services/*/storage/logs/*.log
/services/*/vendor
Homestead.json
Homestead.yaml
Thumbs.db
